// bower:scss
// endbower

.box {
	display: flex;
	flex-direction: row;
	height: 100vh;

	// @include breakpoint(phablet){ flex-direction:column; }
	// @include breakpoint(tablet){ flex-direction:column; }
	@include breakpoint(mobileonly){ flex-direction:column; }
}

	.box__landscapes--a {
    z-index: 10;
    width: 46.2px;
    height: 49.6px;
    position: fixed;
    background: url(../images/landscape-1.svg) no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
	}

	.box__landscapes--b {
    z-index: 10;
    width: 50px;
    height: 46.2px;
    position: fixed;
    background: url(../images/landscape-2.svg) no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
	}

	.box__landscapes--c {
    z-index: 10;
    width: 49.6px;
    height: 40.4px;
    position: fixed;
    background: url(../images/landscape-3.svg) no-repeat;
    background-size: cover;
    // transform: rotate(180deg);
    margin: 0;
    padding: 0;
    bottom: 0;
    left: -1px;

  	@include breakpoint(mobileonly){ 
			display: none;
		}
	}

	.box__landscapes--d {
    z-index: 10;
    width: 49.6px;
    height: 43.2px;
    position: fixed;
    background: url(../images/landscape-4.svg) no-repeat;
    background-size: cover;
    // transform: rotate(180deg);
    margin: 0;
    padding: 0;
    bottom: 0;
    right: -1px;

  	@include breakpoint(mobileonly){ 
			display: none;
		}
	}

.box__dearlistener {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	order: 1;
	flex-grow: 1;

	@include breakpoint(mobileonly){ 
		height: 25%;
		width: 100%;
		order: 2; }

	.box__dearlistener--text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 75%;
		order: 1;
		flex-grow: 3;
		overflow-x:hidden;
		overflow-y:scroll;
		padding-top: 20%;
		padding-bottom: 20%;

		@include breakpoint(mobileonly){ 
			height: 10%;
			justify-content: flex-start;
			padding: 5%;
			padding-left: 1%;
			padding-right: 1%;
			}

		p {
			// font-size: 16px;
			padding-top: 10px;
			padding-left: 15%;
			padding-right: 15%;
			text-align: center;
		}
	}

	.box__dearlistener--logos {
		display: flex;
		flex-direction: column;
		order: 2;
		overflow: hidden;
		height: 25%;
		margin: 30px;

		@include breakpoint(mobileonly){ 
			flex-direction: row;
			justify-content: space-around;
			padding: 10px;
			margin: 0;
		}

		.logo-ber, .logo-kf {
			@include breakpoint(mobileonly){ 
					height: auto;
					width: 40%;
				}
		}

			.logo-hks {	
				height: 90%;
				position:relative;
				background: url("../images/hordaland_ks.svg")no-repeat;
				background-size: contain;
				background-position: center;

			@include breakpoint(mobileonly){
					width: 60%;	}
			}

			.logo-ber {
				height: 90%;
				position:relative;
				background: url("../images/bergen_kommune.png")no-repeat;
				background: url("../images/bergen_kommune.svg")no-repeat,
				    linear-gradient(transparent, transparent);
				background-size: contain;
				background-position: center;
			}

			.logo-kf {
				height: 90%;
				position:relative;
				background: url("../images/kulturfondet.svg")no-repeat;
				background-size: contain;
				background-position: center;
			}
	}
}

.box__mixtape {
	display: flex;
	width: 50%;
	flex-direction: column;
	order: 2; 
	flex-grow: 2;

	@include breakpoint(mobileonly){
		height: 50%;
		width: 100%;
		order: 1; }

	.box__mixtape--header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order:1;
		flex-grow:1; 
		padding-top: 10px;
		padding-bottom: 10px;
		height: 20%;

		@include breakpoint(mobileonly){ 
			height: 10%;
			justify-content: space-between;;
			}

		h1 {
		@include breakpoint(mobileonly){ 
			z-index: 10;
			padding: 0;
		}
		}
	}

	.box__mixtape--postcard {
		display:flex;
		flex-grow: 3;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order:2;
		height: 60%;

		@include breakpoint(mobileonly){ 
			height: 85%;
			}
	}

	.box__mixtape--player {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order: 3;
		flex-grow: 1;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 20%;

		@include breakpoint(mobileonly){ 
			padding-top: 0px;
			padding-bottom: 0px;
			}		
	}

	.box__mixtape--playerheader {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		order: 1;

		@include breakpoint(mobileonly){ 
			justify-content: space-between;
		}
	}

	.box__mixtape--playertitle {
		order: 1;
		width: 100%;
		padding-left: 15%;

		h1 {
		@include breakpoint(mobileonly){ 
			z-index: 10;
			padding: 0;
			padding-left: 5%;
			}
		}			
	}

	.box__mixtape--playertrack {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		order: 2;	

		.track-title {
			// width: 400px; maybe autoresize!
			font-size: $body-size;
			text-align: center;
			margin: 0 auto;
			white-space: nowrap;
			box-sizing: border-box;
			overflow: hidden;
			animation: marquee 30s linear infinite;
			z-index: 0;
		}

		.start-time {
			padding-left: 20px;
			padding-right: 5px;
			font-size: $tertiary-title-size;
			background-color: $new-bg;
			z-index:4;
		  animation: sunset 10s;
		  -moz-animation: sunset 10s; /* Firefox */
		  -webkit-animation: sunset 10s; /* Safari and Chrome */
		  -o-animation: sunset 10s; /* Opera */
			}

		.end-time {
			padding-right: 20px;
			padding-left: 5px;
			font-size: $tertiary-title-size;
			background-color: $new-bg;
			z-index:4;
		  animation: sunset 10s;
		  -moz-animation: sunset 10s; /* Firefox */
		  -webkit-animation: sunset 10s; /* Safari and Chrome */
		  -o-animation: sunset 10s; /* Opera */

			}

		@keyframes marquee {
			0% { transform: translateX(100%); }
			100% { transform: translateX(-100%); }
		}
	}

	.box__mixtape--playercontrols {
		display: flex;
		order: 2;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: 25%;
		
		.control {
			cursor: pointer;
			padding-right: 2vw;
			height: 2.15vw;

		@include breakpoint(mobileonly){ 
			height: 2.15vw*3;
			padding-right: 2vw*3;
		}

		}

		.control:hover path {
			fill: $secondary-color;
			cursor: pointer;
		}

		.control:focus path {
			fill: $secondary-color;
			cursor: pointer;
		}
	}

	.box__mixtape--playerfooter { 
		order: 3;
	}
}

.box__menu {
	display: flex;
	width: 25%;
	order: 3;
	flex-direction: column;
	flex-grow: 1;

		@include breakpoint(mobileonly){ 
			display: none;
		}

		h2:hover, :focus {
			cursor: pointer;
			color: $secondary-color;
		}

		li {
			list-style-type: lower-roman;
		}

		.box__menu--artists {
			height: 25%;
			display:flex;
			flex-grow: 1 ;
			flex-direction: column;
			justify-content: center;
		}

		.box__menu--exhibition {
			height: 25%;
			display:flex;
			flex-grow: 1 ;
			flex-direction: column;
			justify-content: center;
			// overflow: scroll;
		}

		.box__menu--credits {
			height: 25%;
			display:flex;
			flex-grow: 1 ;
			flex-direction: column;
			justify-content: center;

			p {
				text-align: center;
				padding: 5%;
			}
		}

		.box__menu--shuffle {
			height: 25%;
			display:flex;
			flex-grow: 1 ;
			flex-direction: column;
			justify-content: center;
			cursor: alias;

				.note {
				  height: $primary-title-size*1.5;
				}

				.note:hover path {
					fill: $secondary-color;
					// cursor: alias;
				}

				.note:focus path {
					fill: $secondary-color;
					// cursor: alias;
				}
		}
	}
