// bower:scss
// endbower

.box { 
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.box__dearlistener {
	padding: 10px;
	width: 25%;
	display: flex;
	flex-direction: column;
	order: 1;
	flex-grow: 1;

	.box__dearlistener--text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 75%;
		order: 1;
		flex-grow: 3;
		overflow-x:hidden;
		overflow-y:scroll;
		padding-top: 20px;
		padding-bottom: 20px;

		p {
			font-size: 16px;
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
		}
	}

	.box__dearlistener--logos {
		height: 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		order: 2;
		flex-grow: 1;
		padding-top: 30px;
		padding-bottom: 10%;

		img {
		  max-height: 56px;
		}
	}
}

.box__mixtape { 
	display: flex;
	width: 50%;
	flex-direction: column;
	order: 2; 
	flex-grow: 2;
	// background: rgba(0,255,0,1);

	.box__mixtape--header { 
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order:1;
		flex-grow:1; 
		padding-top: 10px;
		padding-bottom: 10px;
		height: 20%;
	}

	.box__mixtape--postcard {
		display:flex;
		flex-grow: 3;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order:2;
		height: 60%;
	}

	.box__mixtape--player {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order: 3;
		flex-grow: 1;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 20%;
	}

	.box__mixtape--playerheader {
		// background: rgba(0,255,0,0.1);
		order: 1;
		// flex-grow: 1;
	}

	// .box__mixtape--playertitle { background: rgba(0,255,0,0.2); }
	// .box__mixtape--playercontrols { background: rgba(0,255,0,0.3); }
	.box__mixtape--playertrack {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		// background: rgba(0,255,0,0.4);
		order: 2;
		// flex-grow: 1; 
	}
	// .box__mixtape--playerstarttime { background: rgba(0,255,0,0.5); }
	// .box__mixtape--playertracktitle { background: rgba(0,255,0,0.6); }
	// .box__mixtape--playerendtime { background: rgba(0,255,0,0.7); }
	.box__mixtape--playerfooter { 
		// background: rgba(0,255,0,0.8);
		order: 3;
	}
}

.box__menu {
	display: flex;
	width: 25%;
	order: 3;
	flex-direction: column;
	flex-grow: 1;
	// background: rgba(0,0,255,0.5);

	.box__menu--artists {
		height: 25%;
		display:flex;
		flex-grow: 1 ;
		flex-direction: column;
		justify-content: center;
		// background: rgba(0,0,255,0.25);
	}

	.box__menu--exhibition {
		height: 25%;
		display:flex;
		flex-grow: 1 ;
		flex-direction: column;
		justify-content: center;
		// background: rgba(0,0,255,0.45);
	}

	.box__menu--credits {
		height: 25%;
		display:flex;
		flex-grow: 1 ;
		flex-direction: column;
		justify-content: center;
		// background: rgba(0,0,255,0.65);
	}

	.box__menu--shuffle {
		height: 25%;
		display:flex;
		flex-grow: 1 ;
		flex-direction: column;
		justify-content: center;
		// background: rgba(0,0,255,0.85);
		}
	}