// bower:scss
// endbower

// type scale
$primary-font:				Arial, sans-serif;
$primary-title-size:		4vw;
$secondary-title-size:		2vw;
$tertiary-title-size:		1.75vw;
$body-size:					1.125vw;
$caption-size:				1vw;

//color
$primary-color:				rgba(0,0,255,1);
$secondary-color:			rgba(255,0,0,1);
$tertiary-color:			rgba(35, 223, 255, 1.00);

h1, h2 {
	text-align: center;
	font-size: $primary-title-size;
}

h1 { 
	text-transform: uppercase;
	letter-spacing: -0.75px;
}

h3 {
	font-size: $tertiary-title-size;
	text-align: center;
	font-weight: bold;
}

p {
	font-size: $body-size;
	line-height: 1.45vw;
}

.header-footer {
	text-align: center;
	font-size: $caption-size;
}

// .exhibition__piece-button {
//     color: black;
//     border-top: white solid 2px;
//     background: #ccc;
//     margin: 0.5em;
//     text-align: left;
//     font-family: monospace;
// }