// bower:scss
// endbower

$primary-font:		Arial, sans-serif;
$secondary-font:	"Webdings Regular";

h1, h2{
	text-align: center;
	font-size: 44px;
}

h1 { 
	text-transform: uppercase;
	letter-spacing: -0.75px;
}

h2 { }

h3 {
	text-align: center;
	font-weight: bold;
}

.webding {
	font-family: $secondary-font;
}

.header-footer {
	text-align: center;
	font-size: 14px;
}

.start-time {
	padding-left: 20px;
	font-size: 24px;
}

.end-time {
	padding-right: 20px;
	font-size: 24px;
}