// bower:scss
// endbower

@import '_type';
@import '_boxes';

* {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: -0.15px;
  margin: 0px;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.25); border-radius: 5px; }

*::selection{ color: $secondary-color; }
*::-moz-selection{ color: $secondary-color; }

body {
  background: $tertiary-color;
  font-family: $primary-font;
  color: $primary-color;
  height: 100vh;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#weather {
  display: inline-block;
}

.postcard {
    max-width:100%;
    max-height:100%;
    margin: auto;
    display: block;
}

.svg {
  fill: $primary-color;
}

#artists, #exhibition { display: none;}